<app-userheader></app-userheader>

<div class="page-wrapper">
    <div class="page-container surface-card p-4 shadow-2 border-round w-full lg:w-6 mx-auto">
    <b><p>TRANSACTION HISTORY</p></b>
    <div class="card">
    <p-table [value]="transaction" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
            <th>No.</th>
            <th>E Wallet ID</th>
            <th>Vendor ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Details</th>
            <th>Status</th>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction let-i="rowIndex">
        <tr style="text-align: left;">
            <td>{{ i + 1 }}</td>
            <td>{{transaction.ewallet_id}}</td>
            <td>{{transaction.vendor_id}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.desc}}</td>
            <td>{{transaction.trans_status}}</td>
        </tr>
    </ng-template>
</p-table>
</div>
</div>
<footer>
    <app-footerpage></app-footerpage>
  </footer>
  </div>